*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#video {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: flex-end;
}

#timeline {
  width: 100%;
  height: 20px;
  background-color: gray;
  margin-bottom: 20px;
}

#timeline-bar {
  position: relative;
  width: 0%;
  height: 100%;
  background-color: red;
}

.timeline-circle {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}
