* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
}

section#address {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f74a50;
  color: white;
  cursor: pointer;
}
